name: Build and deploy container

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.devcontainer/**'
      - '.github/**'
      - 'README.md'
      - 'LICENSE'

env:
  REGISTRY: ghcr.io

jobs:
  configure-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: docker/bake-action/subaction/matrix@v6
        id: generate-matrix
        with:
          target: default

    outputs:
      matrix: ${{ steps.configure-build.outputs.targets }}

  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    needs:
      - configure-build
    
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.configure-build.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v5

      - uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v9.2.0
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: docker/bake-action@v6
        with:
          files: docker-bake.hcl
          push: true
          targets: ${{ matrix.target }}
    
